@font-face {
  font-family: LexendDeca;
  src: url(./assets/fonts/LexendDeca-Regular.ttf);
}

body {
  margin: 0;
  font-family: LexendDeca;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

:root {
  --primary-color: #007bff;
  --secondary-color: #f17900;
  --subTextSecondary-color: #e0a449;
  --mainBackGround-color: #fafafa;
}
